{% import "encoding/json" %}
{% import "github.com/bakape/meguca/lang" %}
{% import "github.com/bakape/meguca/common" %}

Boilerplate HTML for hover post previews on standalone pages
{% func BoilerPlate() %}{% stripspace %}
{%= htmlHeader() %}
<link rel="stylesheet" href="/assets/css/static.css">
{% code ln := lang.Get() %}
<template name="article">
    <input type="checkbox" class="deleted-toggle">
    <header class="spaced">
        <b  class="name spaced"></b>
        <img class="flag" hidden>
        <time></time>
        <nav>
            <a>
                No.
            </a>
            <a class="quote"></a>
        </nav>
    </header>
    <div class="post-container">
        <blockquote></blockquote>
    </div>
</template>
<template name="figcaption">
    <figcaption class="spaced">
        <div class="fileinfo">
            <span class="symbol fileinfo-has-audio">􀑪</span>
            <span class="fileinfo-duration">
                <span class="symbol">􀎶 </span>
            </span>
            <span class="fileinfo-filesize">
                <span class="symbol">􀈷 </span>
            </span>
            <span class="fileinfo-dimensions">
                <span class="symbol">􀅊 </span>
            </span>
            <span class="fileinfo-codec">
                <span class="symbol">􀣋 </span>
            </span>
            <span class="fileinfo-postingtime">
                <span class="symbol">􀐫 </span>
            </span>
        </div>
    </figcaption>
</template>
<template name="figure">
    <figure>
        <a>
            <img>
        </a>
    </figure>
</template>
<script id="lang-data" type="application/json">
    {% code buf, _ := json.Marshal(ln.Common) %}
    {%z= buf %}
</script>
<script id="webpack-location">
    var webpackStaticJSFile = "{%s= common.StaticJS %}";
</script>
<link rel="prefetch" href="{%s= common.StaticJS %}" as="script">
<script src="/assets/js/scripts/staticLoader.js"></script>
<body>
<div id="hover-overlay"></div>
{% endstripspace %}{% endfunc %}